In [165]:
#import libraries and dependecies
import pandas as pd
from bs4 import BeautifulSoup as soup 
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

In [166]:
# Set the executable path and start splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 97.0.4692
Get LATEST chromedriver version for 97.0.4692 google-chrome
Driver [C:\Users\Victor M Diaz\.wdm\drivers\chromedriver\win32\97.0.4692.71\chromedriver.exe] found in cache

In [167]:
#----------------------------------NASA Mars News---------------------------------------------------------------------------------------

In [168]:
# Convert the browser to a soup object and then quit browser
redplanet_url = 'https://redplanetscience.com/'
browser.visit(redplanet_url)

In [169]:
html = browser.html
#print (html)

#store in soup
redplanet_soup = soup(html,"html.parser")

In [170]:
#read webpage html
redplanet_news = redplanet_soup.select_one("div.list_text")
print(newselement)

<div class="list_text">
<div class="list_date">January 24, 2022</div>
<div class="content_title">Space History Is Made in This NASA Robot Factory</div>
<div class="article_teaser_body">From rockets to rovers, JPL's Spacecraft Assembly Facility has been at the center of robotic spaceflight. Here's a closer look at what makes it so special.</div>
</div>

In [171]:
#Open the HTML div and class 
news_title  = redplanet_news.find("div", class_= "content_title").get_text()
print (news_title)

NASA Establishes Board to Initially Review Mars Sample Return Plans

In [172]:
newspara = redplanet_news.find("div", class_= "article_teaser_body").get_text()
print ( newspara)

The board will assist with analysis of current plans and goals for one of the most difficult missions humanity has ever undertaken.

In [173]:
# get the date of the webpage
news_date = redplanet_news.find("div", class_= "list_date").get_text()
print (news_date)

January 25, 2022

In [174]:
#------------------------JPL Mars Space Images - Featured Image--------------------------------------------------
#get the image from spaceimages-mars webpage

In [175]:
spaceimage_url = 'https://spaceimages-mars.com/'
browser.visit(spaceimage_url)

In [176]:
#print (html)
html = browser.html

#print the space_image_soup
space_image_soup =soup(html,"html.parser")

In [177]:
#grab the header image fade-in of the picture
image_element = space_image_soup.select_one("img.headerimage.fade-in")
print(image_element["src"])

image/featured/mars1.jpg

In [178]:
#grab the header and url
featured_image_url = spaceimage_url + image_element["src"]
featured_image_url

'https://spaceimages-mars.com/image/featured/mars1.jpg'

In [179]:
#-----------------------Mars Facts-----------------------------------------------------------

In [183]:
#call the website
galaxy_url = 'https://galaxyfacts-mars.com/'
mars_tables = pd.read_html(galaxy_url)
mars_tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [186]:
#clean up the table
Mars_facts = tables[0]
Mars_facts.columns =Mars_facts.iloc[0]
Mars_facts = Mars_facts.drop([0])
Mars_facts

0 Mars - Earth Comparison             Mars            Earth
1               Diameter:         6,779 km        12,742 km
2                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                  Moons:                2                1
4      Distance from Sun:   227,943,824 km   149,598,262 km
5         Length of Year:   687 Earth days      365.24 days
6            Temperature:     -87 to -5 °C      -88 to 58°C

In [187]:
html_Mars_facts = df_Mars_facts.to_html()
html_Mars_facts

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars - Earth Comparison</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [189]:
#----------------------Mars Hemispheres-----------------------------------------------

In [137]:
hemisphere_url = 'https://marshemispheres.com/'
browser.visit(hemisphere_url)

In [193]:
#print browser html
links = browser.find_by_css("a.product-item img")

#print links
number_of_links = range(len(links))
mars_hemispheres = []

#search and grab hemispheres from webpage
for index in number_of_links:
    hemispheres = {}
    browser.find_by_css("a.product-item img")[index].click()
    
    
    title = browser.find_by_css("h2.title").text
    mars_image = browser.links.find_by_text("Sample").first["href"]
    hemispheres["title"] = title
    hemispheres["url"] = mars_image
    mars_hemispheres.append(hemispheres)
    #print (title_text, mars_image)
    #print("")
    browser.back()
    
for item in mars_hemispheres:
    print (item)

In [194]:
html = browser.html
#print (html)
mars_hemispheres_image_soup =soup(html,"html.parser") 
#print (space_image_soup)

In [195]:
image_element = mars_hemispheres_image_soup.select_one("img.headerimage.fade-in")
print(image_element["src"])

image/featured/mars1.jpg

In [145]:
browser.quit()

In [196]:
#print mars hemispheres
hemisphere_url

'https://marshemispheres.com/'